data_provider: "http://data.cryptotrader.org"

socket_io:
  transports: [
    "websocket"
    "xhr-polling"
    "jsonp-polling"
  ]

platforms:
  bitstamp:
    min_order:
      btc: 0.01
    max_retries: 10
    retry_interval: 15
    check_order_interval: 30
    fee: 0.5
  btce:
    min_order:
      btc: 0.01
      ltc: 0.1
    max_retries: 10
    retry_interval: 15
    check_order_interval: 30
    fee: 0.2
  cexio:
    min_order:
      ghs: 0.01
    max_retries: 10
    retry_interval: 15
    check_order_interval: 30
    fee: 0.2
  backtest:
    initial_portfolio:
      usd: 1000
      btc: 0
    fee: 0.5